.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;
    

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

/********Process************/

.process .fa{
    font-size: 3em;
   text-align: center;
    color: aliceblue;
    line-height: 85px;
}

.process i{
    background: #224390;
    border-radius: 100%;
    width: 85px;
    height: 85px;
    margin-bottom: 5px solid transparent;
    margin-top: 10px;
}

.process span{
    font-size: 17px;
    line-height: 35px;   
    
}
.process ul {
    font-size: 14px;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 15px;
}


